* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Tajawal',
        sans-serif;
}

body {
    background-color: rgb(230, 230, 230);
}





header {
    background-color: rgb(60, 60, 60);
    text-align: right;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 10px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-img {
    position: absolute;
    right: 70px;
    width: 50px;
    height: 50px;
    color: #c7a314;
  }
  
  .logo {
    text-decoration: none;
    margin-top: -20px ;
    margin-bottom: -7px;
    color: #c7a314;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Noto Nastaliq Urdu', serif;
    
  }
  
  .parts {
    margin-left: 200px;
    margin-right: 26px;
  }
  
  .parts a {
    text-decoration: none;
    text-align: center;
    color: wheat;
    font-size: 16px;
    height: 100%;
    width: 50px;
    padding: 21px 0px;
    font-weight: 500;
    padding-left: 13px;
    padding-right: 5px;
    transition: 0.7s ease;
  }
  
  .parts a:hover {
    color: #c49e09;
    transform: scale(1.1 ,1.1);
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  #search {
    color: rgb(0, 0, 0);
    height: 27px;
    width: 200px;
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 7px;
  }
  
  #search:hover {
    color: black;
  }
  
  #search-btn {
    font-size: 18px;
    color: black;
    width: px;
    height: 1px;
    color: rgb(28, 27, 27);
    margin-top: 12px;
    margin-left: 5px;
    border-radius: 50%;
    transition: 0.7s ease;
  }
  
  #search-btn:hover {
    color: #c49e09;
    transform: scale(1.1,1.1);
  }
  
  
  
  .sign-up {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    padding: 6px 13px;
    margin-left: 0px;
    margin-top: 2px;
    display: inline-block;
    transition: 0.7s ease;
  }
  
  .sign-up:hover {
    transform: scale(1.1, 1.1);
    color: #cea70a;
  }
  
  .login {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    padding: 6px 13px;
    margin-left: 40px;
    margin-top: 2px;
    display: inline-block;
    border-radius: 10px;
    transition: 0.7s ease;
  }
  
  .login:hover {
    transform: scale(1.1, 1.1);
    color: #cea70a;
  }
  
  aside {
    padding: 80px 2px;
    z-index: 998;
    width: 220px;
    height: 100%;
    background-color: rgb(79, 79, 79);
    position: fixed;
    right: 0px;
    top: -14px;
  }
  
  
  aside ul li {
    display: block;
    list-style: none;
    box-sizing: border-box;
    border-top: solid 1px rgba(26, 25, 25, 0.1);
    border-bottom: solid 1px rgb(26, 25, 25);
  
  }
  
  aside ul li a {
    color: white;
    display: block;
    padding-right: 7px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    height: 100%;
    line-height: 65px;
    position: relative;
    right: 30px;
  
  }
  
  aside ul li a:hover {
    color: #cea70a;
    padding-right: 13px;
    transform: scale(1.1,1.1);
  }






.main {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main img {
    width: 1000px;
    position: relative;
    right: 20%;
    top: 0%;
    margin-top: 6%;

}

.main h4 {
    position: absolute;
    right: 45%;
    top: 93%;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;



}

.main h5 {
    position: absolute;
    right: 45%;
    top: 124%;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;

}

.main .next {
    position: absolute;
    right: 39%;
    top: 123%;
}


.main .last {
    position: absolute;
    right: 40%;
    font-size: 25px;
    margin-top: 80px;
    padding: 42px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(224, 230, 230);
    background-color: rgb(211, 211, 211);




}

.main .next {
    position: absolute;
    right: 39%;
    font-size: 25px;
    margin-top: 80px;
    padding: 41px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(224, 230, 230);
    background-color: rgb(211, 211, 211);

}

.main .champ {
    font-size: 15px;
    position: absolute;
    top: 9%;
    right: 38%;
}

.main .leg {
    font-size: 16px;
    position: absolute;
    top: 8%;
    right: 40%;

}

.main .state {

    background-color: #c49e09;
    padding: 5px;
    border-radius: 0px;
    position: absolute;
    right: 50%;
    top: 113%;
}


.main .state2 {

    background-color: #c49e09;
    padding: 5px;
    border-radius: 0px;
    position: absolute;
    right: 50%;
    top: 145%;
}


.second {
    width: 100%;
    height: 100vh;
    position: relative;


}

.second p {
    position: absolute;
    right: 20%;
    top: 55%;
    font-size: 40px;
    border-bottom: rgb(208, 180, 22) solid;

}

.second img {
    border-radius: 40px;
    width: 13%;
    position: absolute;
    right: 70%;
    top: 66%;
}

table {

    position: absolute;
    right: 18%;
    bottom: 20%;
    margin: 80px 15px 0 80px;
    border-radius: 20px;
}

th {
    padding: 20px 32px;
    font-size: 25px;
    background-color: rgb(204, 204, 204);
    border-radius: 15px;

}

td {
    font-size: 20px;
    padding: 6px;
    background-color: rgb(197 179 119);
    border-radius: 15px;
}


.Tpage img {

    border-radius: 40px;
    width: 14%;
    position: absolute;
    right: 70%;
    top: 11%;

}

.Tpage {
    width: 100%;
    height: 100vh;
    position: relative;
}

.Tpage p {
    position: absolute;
    right: 20%;
    top: 0%;
    font-size: 40px;
    border-bottom: rgb(208, 180, 22) solid;
}

.Tpage table {
    position: absolute;
    right: 18%;
    bottom: 60%;
    margin: 80px 15px 0 80px;

}

.Fpage {
    width: 100%;
    height: 100vh;
    position: relative;
}

.Fpage p {
    font-size: 40px;
    position: absolute;
    right: 20%;
    top: -40%;
    border-bottom: rgb(208, 180, 22) solid;
}



.headerOFtable {
    display: flex;
    flex-direction: row;
    font-size: 23px;
    position: absolute;
    right: 20%;
    top: -28%;
    width: 60%;
    background-color: #e0e0df;
    border-radius: 20px;

}

.headerOFtable span {
    padding: 20px 45px;
    font-weight: bold;
}

.headerOFtable #name {
    padding-left: 230px;
}

.goals {
    color: #89802d;
}

.karim {
    display: flex;
    flex-direction: row;
    font-size: 23px;
    background-color: #e0e0df;
    position: absolute;
    right: 14.8%;
    top: -15%;
    width: 60%;
    margin-right: 80px;
    border-radius: 20px;

}


#karim {
    padding-left: 110px;

}

.karim span {
    padding: 45px 86px;
    font-weight: bold;
}


.karim img {
    background-color: #fff;
    border-radius: 50%;
    border: #fff solid;
    width: 12%;
    position: absolute;
    right: -5%;
    top: 1%;
}


.vin {
    display: flex;
    flex-direction: row;
    font-size: 23px;
    background-color: #e0e0df;
    position: absolute;
    right: 14.7%;
    top: 6%;
    width: 60%;
    margin-right: 80px;
    border-radius: 20px;

}



.vin span {
    padding: 45px 82px;
    font-weight: bold;
}


.vin img {
    background-color: #fff;
    border-radius: 50%;
    border: #fff solid;
    width: 12%;
    position: absolute;
    right: -5%;
    top: 1%;
}

.marco {
    display: flex;
    flex-direction: row;
    font-size: 23px;
    background-color: #e0e0df;
    position: absolute;
    right: 14.8%;
    top: 27%;
    width: 60%;
    margin-right: 80px;
    border-radius: 20px;

}

#marco {
    padding-left: 95px;
}

.marco span {

    padding: 45px 84px;
    font-weight: bold;
}


.marco img {
    background-color: #fff;
    border-radius: 50%;
    border: #fff solid;
    width: 12%;
    position: absolute;
    right: -5%;
    top: 1%;
}


.nacho {
    display: flex;
    flex-direction: row;
    font-size: 23px;
    background-color: #e0e0df;
    position: absolute;
    right: 14.8%;
    top: 48%;
    width: 60%;
    margin-right: 80px;
    border-radius: 20px;

}

#nacho {
    padding-left: 170px;
}

.nacho span {
    padding: 45px 85px;
    font-weight: bold;
}


.nacho img {
    background-color: #fff;
    border-radius: 50%;
    border: #fff solid;
    width: 12%;
    position: absolute;
    right: -5%;
    top: 1%;
}